body{
    margin: 0;
    
}
.container{
    height: 100vh;
    width: 100vw;    
    background-color: #BEC3CA4D;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.navbar{
    background-color: white;
    height: 8vh;    
    width: 62%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /* margin-left: -10vh; */
}
.navbar h4{
    transform: translateX(15vw);
    font-size: 30px;
    margin-top: 1vh;
}
.drink-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    padding-top: 8vh;
    transform: translate(22vh,-48vw);
}
.action {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
  }
.card{
    padding-left: 8px;
    margin-top: -8px;
    width: 15vw;
    height: 30vh;
}
.card img{
    width: 80%;
    height: 50%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    width: 10%;
    height: 95vh;
    /* margin-top: -17px; */
    opacity: 1;
    transform: translateY(-150%);
    transition: transform 0.5s cubic-bezier(.5, 0, .5, 1)
}
.sidebar .top{
    margin-top: -37vh!important;
}
.sidebar-open .sidebar{
    transform: translateY(-12vh);
}
.toggle-btn{
    position: absolute;
    transform: translateY(-12vh);
}
.selected{
    background-color: white;
    width: 38%;
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid #BEC3CA4D;
}
.selected .title{
    height: 8vh;
    border: 1px solid #BEC3CA4D;
}
.selected .title p{
    font-weight: bold;
    transform: translateX(17vw)
}
.selected .empty{
    transform: translateX(10vw)
}
.chek-out{
    background-color: #57CAD5;
    height: 6vh;
    width: 80%;
    border: none;
    transform: translate(8vh, 19vw);
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.btn-cancel{
    background-color: #F24F8A;
    width: 80%;
    border: none;
    transform: translate(8vh, 20vw);
    height: 6vh;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
#toggle{
    position: relative;
    width: 80px;
    height: 50px;
    /* transform: translateY(-9vh); */
    border: none;
    margin-right: 2vw;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
/* #toggle.active{
    background: #BEC3CA4D;
} */
#toggle::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: black;
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0  10px 0 black;
}
#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0  0 0 black;
}
#toggle::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: black;
    transition: 0.2s;
    transform: translateY(10px);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}


